/* Globals */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Commons */
.container {
    max-width: 1140px;
    margin: 0 auto;
    width: calc(100% - 48px);
}
.btn {
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
    color: #fff;
    text-align: center;

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    opacity: 0.8;
}
a {
    text-decoration: none;
}
.container-title {
    color: #152427;

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}
.container-heading {
    color: #152427;

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}
/* Header */
.header {
    padding: 30px 0;
}
.header__content {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr;
}
.navbar__listitem {
    display: flex;
    column-gap: 38px;
    margin-right: 88px;
}
.navbar__item-link {
    color: #575d5e;

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.navbar__item:hover .navbar__item-link {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__item-link--active {
    position: relative;
}
.navbar__item-link--active::after {
    /* box-shadow: 0 3px #143c3c; */
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
    display: block;
    position: absolute;
    bottom: -25px;
    left: 11px;
}
/* Hero */
.hero {
    margin-top: 44px;
    position: relative;
}
.hero__heading {
    color: var(--Primary-color-black, #152427);

    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}
.hero__desc {
    color: var(--text-color-black-gray, #575d5e);

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    margin-top: 20px;
}
.hero__content {
    width: 43.333%;
    max-width: 368px;
}
.hero__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}
.hero__control {
    margin-top: 42px;
    display: flex;
    align-items: center;
    position: relative;
}
.hero__control-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    color: #fff;
    border: 1px solid #83a17d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 36px;
    flex-shrink: 0;
}
.hero__control-icon--elipse {
    position: absolute;
    margin: 0 auto;
    top: -2px;
    right: 0;
    left: 26px;
}

.hero__control-link {
    white-space: nowrap;
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}
.hero__media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    position: relative;
}
.hero__media--circle {
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    position: absolute;
    z-index: -1;
    top: 158px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.hero__img:nth-child(2) {
    margin-top: 77px;
}
/* .hero__media--flower-control {
    position: relative;
} */
.flower-control__firework,
.flower-control__flower {
    position: absolute;
}
.hero__media--firework-1 {
    top: 35px;
    left: -254.6px;
}
.hero__media--flower-1 {
    top: 33px;
    left: -208.6px;
}
.flower-control {
    position: absolute;
    top: -75px;
    left: 23px;
}
.flower-control-2 {
    rotate: 180deg;
    bottom: -109px;
    position: absolute;
    right: 270px;
}
/* logoarea */
.logo-section {
    margin-top: 130px;
}
.logo-section__control {
    background: #e2eddf;
    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding: 80px 122px;
    column-gap: 70px;
}
/* services*/
.services__body {
    padding-top: 53px;
    margin-top: 53px;
}
.services__topcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.services__topcontent-title {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 46px 1fr;
    align-items: center;
}
.services__topcontent-title::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
    display: inline-block;
}
.services__topcontent-heading {
    max-width: 520px;
}
.services__topcontent::after {
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    position: absolute;
    bottom: 21px;
    left: 344px;
}
.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 76px;
    column-gap: 16px;
}
.services__card-item {
    width: 370px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    transition: 0.25s;
}
.services__card-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    /* border: 2px solid gray; */
}
.services__card-item:hover .services__card-item--thumb {
    scale: 1.1;
}
.services__card-item--thumb {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: 0.25s;
}
.services__card-item--imgbg {
    max-width: 370px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    overflow: hidden;
}
.services__card-title {
    color: #152427;
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-top: 24px;
    padding-left: 18px;
}
.services__card-desc {
    color: #7d8188;
    max-width: 290px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
    padding: 18px 0 23px 18px;
}
.services__control--link {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    color: #152427;
    background: #e2eddf;
    margin-left: 17px;
}
.services__control--link:hover {
    background: #143c3c;
    color: #fff;
}
.services__control--arrow-next {
    rotate: 180deg;
}
